<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestUT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3833E58D16D2837A005A2898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3833E5AD16D2837B005A2898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A28A7717C02945005AE7CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A8CB7E177905D600877D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
